In [1]:
# Import dependencies
import os
import pandas as pd
import numpy as np

In [2]:
# Pull in CSV file and create dataframe
climate_csv = "resources/GlobalLandTemperaturesByCity.csv"
climate_df = pd.read_csv(climate_csv, encoding="ISO-8859-1")

In [3]:
# Check counts for each column
climate_df.count()

dt                               777213
AverageTemperature               742029
AverageTemperatureUncertainty    742028
City                             777212
Country                          777212
Latitude                         777212
Longitude                        777212
dtype: int64

In [4]:
# Clean dataframe by removing empty rows
cleaned_climate_df=climate_df.dropna(how="any")
cleaned_climate_df.count()

# Reset index

dt                               742028
AverageTemperature               742028
AverageTemperatureUncertainty    742028
City                             742028
Country                          742028
Latitude                         742028
Longitude                        742028
dtype: int64

In [5]:
cleaned_climate_df=cleaned_climate_df.reset_index(drop=True)

In [6]:
# Look at column titles
cleaned_climate_df.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [7]:
# Rename column titles
cleaned_climate_df = cleaned_climate_df.rename(columns = {"dt":"Date", 
                                                          "AverageTemperature":"Average_Temperature",
                                                          "AverageTemperatureUncertainty":"Average_Temp_Uncertainty"
                                                         })
cleaned_climate_df.head()

,Date,Average_Temperature,Average_Temp_Uncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã rhus,Denmark,57.05N,10.33E
1,1744-04-01,5.788,3.624,Ã rhus,Denmark,57.05N,10.33E
2,1744-05-01,10.644,1.283,Ã rhus,Denmark,57.05N,10.33E
3,1744-06-01,14.051,1.347,Ã rhus,Denmark,57.05N,10.33E
4,1744-07-01,16.082,1.396,Ã rhus,Denmark,57.05N,10.33E

In [ ]:
#Drop all unneeded data from irrelevant dates
#Create seperate data frames to space out data 
#Save those dataframes to csv's

In [8]:
# Save cleaned data under new CSV file
cleaned_climate_df.to_csv("cleaned_GlobalLandTemperaturesByCity.csv", index=False, header=True)

In [9]:
# Create dataframe for United States
usa_cleaned_climate_df=cleaned_climate_df.loc[cleaned_climate_df["Country"]=="United States"]

# Reset index
usa_cleaned_climate_df=usa_cleaned_climate_df.reset_index(drop=True)

In [10]:
# Save cleaned data under new CSV file
usa_cleaned_climate_df.to_csv("cleaned_USALandTemperaturesByCity.csv", index=False, header=True)

In [12]:
cleaned_climate_df.dtypes

Date                         object
Average_Temperature         float64
Average_Temp_Uncertainty    float64
City                         object
Country                      object
Latitude                     object
Longitude                    object
dtype: object